IT2605-Applications-of-Web-Services/NYP/Service References/FLYTA_API/FLYTA_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FLYTA_WS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61331/FLYTA_WS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61331/FLYTA_WS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61331/FLYTA_WS.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFLYTA_WS_getProgrammes_InputMessage">
    <wsdl:part name="parameters" element="tns:getProgrammes" />
  </wsdl:message>
  <wsdl:message name="IFLYTA_WS_getProgrammes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProgrammesResponse" />
  </wsdl:message>
  <wsdl:message name="IFLYTA_WS_getAvailableProgrammes_InputMessage">
    <wsdl:part name="parameters" element="tns:getAvailableProgrammes" />
  </wsdl:message>
  <wsdl:message name="IFLYTA_WS_getAvailableProgrammes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAvailableProgrammesResponse" />
  </wsdl:message>
  <wsdl:message name="IFLYTA_WS_incrementSeats_InputMessage">
    <wsdl:part name="parameters" element="tns:incrementSeats" />
  </wsdl:message>
  <wsdl:message name="IFLYTA_WS_incrementSeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:incrementSeatsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFLYTA_WS">
    <wsdl:operation name="getProgrammes">
      <wsdl:input wsaw:Action="http://tempuri.org/IFLYTA_WS/getProgrammes" message="tns:IFLYTA_WS_getProgrammes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFLYTA_WS/getProgrammesResponse" message="tns:IFLYTA_WS_getProgrammes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAvailableProgrammes">
      <wsdl:input wsaw:Action="http://tempuri.org/IFLYTA_WS/getAvailableProgrammes" message="tns:IFLYTA_WS_getAvailableProgrammes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFLYTA_WS/getAvailableProgrammesResponse" message="tns:IFLYTA_WS_getAvailableProgrammes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="incrementSeats">
      <wsdl:input wsaw:Action="http://tempuri.org/IFLYTA_WS/incrementSeats" message="tns:IFLYTA_WS_incrementSeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFLYTA_WS/incrementSeatsResponse" message="tns:IFLYTA_WS_incrementSeats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFLYTA_WS" type="tns:IFLYTA_WS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProgrammes">
      <soap:operation soapAction="http://tempuri.org/IFLYTA_WS/getProgrammes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailableProgrammes">
      <soap:operation soapAction="http://tempuri.org/IFLYTA_WS/getAvailableProgrammes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="incrementSeats">
      <soap:operation soapAction="http://tempuri.org/IFLYTA_WS/incrementSeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FLYTA_WS">
    <wsdl:port name="BasicHttpBinding_IFLYTA_WS" binding="tns:BasicHttpBinding_IFLYTA_WS">
      <soap:address location="http://localhost:61331/FLYTA_WS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>